@font-face {
    font-family: 'ArcadeClassic';
    src: url('fonts/arcade.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
  height: 100%;
  box-sizing: border-box;
	/*background-image: url("https://jzdubya.files.wordpress.com/2011/11/web_backing_1.png");;*/
  background-color: #D8D4D4
}

body {
  display: flex;
  position: relative;
  margin: 0;
  padding-bottom: 75px;
  min-height: 100%;
}

#app {
  margin: auto;
}

li {
  list-style-type: none
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 75px;
  background-color: #B7A182;
  text-align: center;
  font-family: "Helvetica Neue", Arial, sans-serif;
  padding-bottom: 1em
}
